

.azeret-mono-normal{
    font-family:"azeret mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
/* banner styles */
.banner-title{
    font-size: 48px;
    font-weight: 800;
    color: rgb(13,19,33);
    margin: 32px 221px 24px 221px;
}
.banner-discription{
font-size: 16px;
font-weight: 400px;
color: rgb(13,19,33);
margin-right: 294px;
margin-bottom: 32px;
margin-left:294px ;
}
.btn-primary{
    background-color:rgb(13,19,33) ;
    color: rgb(255,255,255);
    font-size: 20px;
    font-weight: 600px;
    height: 66px;
    width: 208px;
    margin-bottom: 44px;
    margin-right: 616px;
    margin-left: 550px;
    border-radius: 8px;
    padding: ;
    
}
.banner-pic{
    width: 240px;
    height: 240px;
    margin-top: 26px;
    margin-right: 590px;
    margin-left: 500px;
}
.banner{
    text-align: center;
}
/* header styles */
.header{
    background-image: url(../assets/Hero-bg.png);
}
/* section styles */
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13,19,33);
    text-align: center;
    

}
.section-bg-color{
    background: rgba(13,19,33,0.02);
    border-radius: 16px;
}
.section-discription{
    font-size:16px ;
    font-weight:400px ;
    color: rgb(13,19,33);
    text-align: center;
    
}
.coding-title{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13,19,33,0.7);
}
.coding-discription{
    font-size:16px ;
    font-weight: 400px;
    color: rgb(13,19,33);
    margin: 24px 0px 48px;
}
.section-btn{
    box-sizing: border-box;
    border: 1px rgb(13,19,33);
    font-size: 20px;
    font-weight: 600;
    color: rgb(13,19,33);
    padding: 12px 20px 12px 20px;
    opacity: 0.7;
}
.section-pic-1{
   max-width: 259px;
    height: 217px;
    margin-left: 98px;
}
.section-banner{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    border-radius: 16px;
}
/* main styles */
main{
    width: 1140px;
    height: 1390px;
    margin-top:74px ;
    margin-left: 80px;
    
    margin-right:140px ;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;

}
.section-pic-2{
    max-width:223px ;
    height:208px ;
    margin-top: 80px;
    margin-left: 48px;
}
.section-banner-2{
    display: flex;
    justify-content: space-between;
}
.section-banner-content-2{
    margin-top: 90px;
    margin-left: 48px;
    margin-right: 290px;
}
.section-banner-3{
    display: flex;
    justify-content: space-between;
}
.coding-title-2{
    font-size: 24px;
    font-weight: 700;
    color: rgba(13,19,33,0.7);
    margin: 90px 120px 16px 60px;
}
.coding-discription-2{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13,19,33);
    margin-right: 80px;
    margin-left: 60px;
    margin-bottom: 32px;
}
.section-btn-2{
    box-sizing: border-box;
    border: 1px rgb(13,19,33);
    font-size: 20px;
    font-weight: 600;
    color: rgb(13,19,33);
    padding: 12px 20px 12px 20px;
    opacity: 0.7;
    margin-left: 40px;
    margin-bottom: 100px;
}
.section-pic-3{
    margin: 100px 145px 74px 149px;
}
/* video-section -styles */
.video-title{
font-size: 32px;
font-weight: 800;
color:rgb(13,19,33) ;
text-align: center;
margin-top: 88px;
margin-bottom: 24px;
margin-left: 40px;
margin-left: 144px;
}
.video-description{
font-size: 16px;
font-weight: 400;
color: rgb(13,19,33);
text-align: center;
margin-bottom: 48px;
margin-right: 140px;
margin-left: 144px;
}
/* skill-container-styles */
.skill-container-title{
font-size: 32px;
font-weight: 800px;
text-align: center;
color: rgb(13,19,33);
margin-top: 149px;
margin-left: 144px;
margin-right: 144px;
}
.skill-container-discription{
font-size:16px ;
font-weight: 400px;
color: rgb(13,19,33);
text-align: center;
margin: 24px 144px 48px 144px;
}
.skill-title{
font-size: 24px;
font-weight: 800;
color: rgb(13,19,33);
margin-top: 24px;
margin-bottom: 8px;
}
.skill-description{
font-size: 16px;
font-weight: 400;
color: rgb(13,19,33);
}
.skill{
    padding: 40px;

}
.skills-container{
    display: flex;
    gap: 24px;
    row-gap: 48px;
}
.background-color-1{
background-color: rgba(255,76,30,0.05);
border-radius: 16px;
}
.background-color-2{
background-color: rgba(0,76,232,0.05);
border-radius: 16px;
}
.background-color-3{
background-color: rgba(255,223,0,0.05);
border-radius: 16px;
}
.sub-title{
    font-size: 16px;
    font-weight: 700;
    text-decoration: underline;
}